.form-btn{
	-fx-background-color: transparent;
	-fx-border-color: #fff;
	-fx-border-width: 1px;
	-fx-cursor: hand;
	-fx-text-fill: #fff;
	-fx-font-size: 14px;
	-fx-font-family: "Montserrat", sans-serif;
}
.form-btn:hover{
	-fx-background-color: #fff;
	-fx-text-fill: #000;
}
.main-form{
	-fx-background-color: #fff;
}

.radius{
	-fx-background-radius: 8px;
}

.shadow{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,5),5,0,0,0);
}

.transparent{
	-fx-background-color: transparent;
}

.btn{
    -fx-background-color: #e7b307; 
    -fx-cursor: hand;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-family: 'Montserrat',montserrat;
    -fx-font-weight: 900;
}

.btn:hover{
    -fx-background-color: #e7be07; 
}

.table-view{
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-border-radius: 4;
	-fx-border-width: 1.5px;
	-fx-border-color: #e7b307;
}

.table-view .column-header .label{
	-fx-text-fill: #000000;
	-fx-font-family: 'Montserrat',montserrat
}

.table-view .column-header-background{
	-fx-background-color: #e7b307;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 4px 4px 0 0;
}

.table-view .column-header, .filter{
	-fx-background-color: transparent;
	-fx-size: 40px;
}

.gradient-form{
	-fx-background-color: linear-gradient(to right, #FCED0A,#E8B03F,#D66900);
}