 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 .root{
 	-fx-font-family: 'Montserrat',montserrat;
 	-fx-font-weight: 900;
 }

 .left-bg{
 	-fx-background-color: #ff0000;
 }

 .main-form{
 	-fx-background-color: #e7b307;
 }

.left-form{
	-fx-font-family: 'Montserrat',montserrat;
	-fx-font-weight: 900;
	-fx-font-size: 15px;
}