.card{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}
.btn{
    -fx-background-color: #e7b307; 
    -fx-cursor: hand;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-family: 'Montserrat',montserrat;
}
.btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000; 
}